In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import requests

In [2]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

# Q1.

In [3]:
# Opening webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [4]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [5]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements("xpath","//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')
    # Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements("xpath","//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements("xpath","//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [6]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.00,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.05,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.57,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.89,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.88,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.74,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.08,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.79,"November 19, 2014"
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,4.77,"May 24, 2018"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.76,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.64,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.18,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.80,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.70,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.70,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.67,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.62,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.53,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.46,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.42,"February 20, 2014"
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.40,"June 4, 2010"
22,23.,"""Faded""[43]",Alan Walker,3.38,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.36,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.35,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.33,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.31,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.31,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.26,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.24,"June 14, 2018"

# Q2.

In [33]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [34]:
# Opening webpage
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(1)

In [40]:
# Opening fixtures webpage through browser
fixtures=driver.find_element("xpath","/html/body/nav/div[1]/div[2]/ul[1]/li[2]")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [44]:
# Scraping URL 
URL= []
link=driver.find_elements("xpath",'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div[2]/div/div[4]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [45]:
# Creating empty list
Title = []
Series = []
Place = []
Date = []
Time = []

In [46]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    
    # Scraping Match title
    try:
        title=driver.find_element("xpath","//p[@class='mc-header-info__match-description']/span")
        Title.append(title.text)
    except NoSuchElementException:
        Title.append('NA')
        
    # Scraping Series Via Xpath
    try:
        series=driver.find_element("xpath","//h1[@class='mc-header-info__title']/strong")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('NA')
        
    # Scraping venue Via Xpath
    try:
        place=driver.find_element("xpath","//h1[@class='mc-header-info__title']")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('NA')
        
    # Scraping date Via Xpath
    try:
        date=driver.find_element("xpath",'//div[@class="mc-header-scorebox__datetime"]/strong')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('NA')
        # Scraping Time Via Xpath
    try:
        time=driver.find_element("xpath",'//div[@class="mc-header-scorebox__datetime"]/span')
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('NA')

100%|█████████████████████████████████████████████| 1/1 [00:02<00:00,  2.39s/it]

In [47]:
# Dataframe for scrap data
Cricket=pd.DataFrame({'Match Title':Title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
print('\033[1m'+'Team India’s Upcoming International fixtures :'+'\033[0m')
Cricket

Team India’s Upcoming International fixtures :

  Match Title Tournament Venue Date Time
0          NA         NA    NA   NA   NA

# Q3.

In [48]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [56]:
# Opening webpage
url='https://www.guru99.com/'
driver.get(url)
time.sleep(1)

In [57]:
# Creating Empty list
Name =[]
Description=[]

In [58]:
# Selecting Selenium option from website
Selenium=driver.find_element("xpath",'//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
try:
    Selenium.click()
except ElementNotInteractableException:
    driver.get(Selenium.get_attribute('href'))

In [59]:
# Selecting Selenium Exception handling option from website
Selenium_Exception=driver.find_element("xpath",'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    Selenium_Exception.click()
except ElementNotInteractableException:
    driver.get(Selenium_Exception.get_attribute('href'))

In [65]:
# Extracting Exception Name via Xpath
try:
    name=driver.find_elements("xpath",'//html/body/div[1]/div/div/div/main/div/article/div/header/div/span[1]/span[2]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')
    
# Extracting Description via Xpath
try:
    description=driver.find_elements("xpath",'/html/body/div[1]/div/div/div/main/div/article/div/div/div[2]/p[1]')
    for i in description:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('NA')

In [66]:
len(Name),len(Description)

(2, 1)

In [67]:
# Dataframe for scrap data
Exception=pd.DataFrame({'Exception Type':Name,'Description':Description})
print('\033[1m'+'Selenium Exception from Guru 99 :'+'\033[0m')
Exception

ValueError: All arrays must be of the same length

# Q4

In [68]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [69]:
# Opening webpage
url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [70]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [73]:
# Clicking on India under ecomony section
India=driver.find_element("xpath",'/html/body/div[2]/div[1]/div[2]/div[2]/button')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
state = driver.find_element("xpath",'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [74]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements("xpath",'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements("xpath",'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements("xpath",'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements("xpath",'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements("xpath",'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')
# Extracting GDP via Xpath
try:
    gdp=driver.find_elements("xpath",'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [75]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q5.

In [90]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [91]:
# Opening webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [99]:
# Clicking on trending option
trending=driver.find_element("xpath",'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [96]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [97]:
# Scraping repositories URL
URL= []
link=driver.find_elements("xpath",'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[1]/h1/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [98]:
len(URL)

0

In [100]:
# Scraping Repositority Title
try:
    title=driver.find_elements("xpath",'//h1[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [101]:
len(Title)

0

In [102]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    time.sleep(5)
    # Scraping Description
    try:
        description=driver.find_element("xpath",'/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
    
    # Scraping Contributor count
    try:
        count=driver.find_element("xpath","//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    # Scraping Language
    L =[]
    try:
        lang=driver.find_elements("xpath","//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

0it [00:00, ?it/s]

In [103]:
Github=pd.DataFrame({'Title':Title,'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

Empty DataFrame
Columns: [Title, Description, Contributors_count, Language_used]
Index: []

# Q6.

In [112]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [131]:
# Opening webpage
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [132]:
# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [127]:
# Clicking on hot 100 option
hot_100=driver.find_element("xpath",'/html/body/div[4]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[4]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a"}
  (Session info: chrome=108.0.5359.124)
Stacktrace:
0   chromedriver                        0x000000010b1b2f38 chromedriver + 4910904
1   chromedriver                        0x000000010b132a03 chromedriver + 4385283
2   chromedriver                        0x000000010ad77747 chromedriver + 472903
3   chromedriver                        0x000000010adbc34c chromedriver + 754508
4   chromedriver                        0x000000010adbc5a1 chromedriver + 755105
5   chromedriver                        0x000000010adffe94 chromedriver + 1031828
6   chromedriver                        0x000000010ade213d chromedriver + 909629
7   chromedriver                        0x000000010adfd28e chromedriver + 1020558
8   chromedriver                        0x000000010ade1ee3 chromedriver + 909027
9   chromedriver                        0x000000010adac30c chromedriver + 688908
10  chromedriver                        0x000000010adad88e chromedriver + 694414
11  chromedriver                        0x000000010b1801de chromedriver + 4702686
12  chromedriver                        0x000000010b184b19 chromedriver + 4721433
13  chromedriver                        0x000000010b18c28e chromedriver + 4752014
14  chromedriver                        0x000000010b18591a chromedriver + 4725018
15  chromedriver                        0x000000010b159b02 chromedriver + 4545282
16  chromedriver                        0x000000010b1a4888 chromedriver + 4851848
17  chromedriver                        0x000000010b1a4a05 chromedriver + 4852229
18  chromedriver                        0x000000010b1bae5f chromedriver + 4943455
19  libsystem_pthread.dylib             0x00007ff80158c259 _pthread_start + 125
20  libsystem_pthread.dylib             0x00007ff801587c7b thread_start + 15

In [125]:
# Scraping Song Name
try:
    song=driver.find_elements("xpath",'//span[@class="chart-element__information"]/span[1]')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    
# Scraping Song Artist Name
try:
    artist=driver.find_elements("xpath",'//span[@class="chart-element__information"]/span[2]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    
# Scraping Song last week rank
try:
    last_rank=driver.find_elements("xpath",'//span[@class="chart-element__information"]/span[2]')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')

# Scraping Song peak rank
try:
    peak=driver.find_elements("xpath",'//span[@class="chart-element__information"]/span[2]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

# Scraping Song Artist Name
try:
    weeks=driver.find_elements("xpath",'//span[@class="chart-element__information"]/span[2]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('NA')

In [126]:
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})
print('\033[1m'+'Billboard Hot 100 Songs :'+'\033[0m')
Billboard

Billboard Hot 100 Songs :

Empty DataFrame
Columns: [Song_Name, Artist_Name, Last_week_rank, Peak, Weeks_on_chart]
Index: []

# Q7.

In [158]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [159]:
# Opening webpage
url='https://www.naukri.com/'
driver.get(url)
time.sleep(1)

In [176]:
# Clicking on recuriters option
recruiters=driver.find_element("xpath","//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@title='Search Recruiters']"}
  (Session info: chrome=108.0.5359.124)
Stacktrace:
0   chromedriver                        0x000000010c487f38 chromedriver + 4910904
1   chromedriver                        0x000000010c407a03 chromedriver + 4385283
2   chromedriver                        0x000000010c04c747 chromedriver + 472903
3   chromedriver                        0x000000010c09134c chromedriver + 754508
4   chromedriver                        0x000000010c0915a1 chromedriver + 755105
5   chromedriver                        0x000000010c0d4e94 chromedriver + 1031828
6   chromedriver                        0x000000010c0b713d chromedriver + 909629
7   chromedriver                        0x000000010c0d228e chromedriver + 1020558
8   chromedriver                        0x000000010c0b6ee3 chromedriver + 909027
9   chromedriver                        0x000000010c08130c chromedriver + 688908
10  chromedriver                        0x000000010c08288e chromedriver + 694414
11  chromedriver                        0x000000010c4551de chromedriver + 4702686
12  chromedriver                        0x000000010c459b19 chromedriver + 4721433
13  chromedriver                        0x000000010c46128e chromedriver + 4752014
14  chromedriver                        0x000000010c45a91a chromedriver + 4725018
15  chromedriver                        0x000000010c42eb02 chromedriver + 4545282
16  chromedriver                        0x000000010c479888 chromedriver + 4851848
17  chromedriver                        0x000000010c479a05 chromedriver + 4852229
18  chromedriver                        0x000000010c48fe5f chromedriver + 4943455
19  libsystem_pthread.dylib             0x00007ff80158c259 _pthread_start + 125
20  libsystem_pthread.dylib             0x00007ff801587c7b thread_start + 15

In [167]:
# locating Search bar via Xpath
Search=driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")

# Sending data science as key in search bar
Search.send_keys("Data Science")
time.sleep(1)

#clicking on search button
button=driver.find_element("xpath","/html/body/div[1]/div[6]/div/div/div[6]")
button.click()
time.sleep(1)

In [170]:
# Creating Empty List
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [171]:
# Scraping  Name
try:
    name=driver.find_elements("xpath",'//a[@class="ellipsis"]/span')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')

    # Scraping Designation
try:
    designation=driver.find_elements("xpath",'//p[@class="highlightable"]/span[1]')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')
    
# Scraping Company
try:
    company=driver.find_elements("xpath",'//a[@class="ellipsis"][2]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')
# Scraping skill for they hire
try:
    skill=driver.find_elements("xpath",'//div[@class="hireSec highlightable"]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')
    
# Scraping Song Artist Name
try:
    location=driver.find_elements("xpath",'//p[@class="highlightable"]/span[2]/small')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

In [172]:
len(Name),len(Designation),len(Company),len(Skill),len(Location)

(0, 0, 0, 0, 1)

In [173]:
Naukri=pd.DataFrame({})
Naukri['Name']=Name[:49]
Naukri['Designation']=Designation[:49]
Naukri['Company']=Company[:49]
Naukri['Skills I Hire for']=Skill[:49]
Naukri['Location']=Location[:49]
print('\033[1m'+'Naukri.com Data Science recruiters :'+'\033[0m')
Naukri

Naukri.com Data Science recruiters :

   Name  Designation  Company  Skills I Hire for Location
0   NaN          NaN      NaN                NaN       NA

# Q8.

In [177]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [178]:
# Opening webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [179]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [180]:
# Scraping Book name
try:
    book=driver.find_elements("xpath",'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements("xpath",'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements("xpath",'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements("xpath",'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements("xpath",'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [181]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9.

In [182]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [183]:
# Opening webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [184]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [185]:
# Scraping Name via Xpath
try:
    name=driver.find_elements("xpath","//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements("xpath","//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements("xpath","//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements("xpath","//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements("xpath","//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')
# Scraping Votes via Xpath
try:
    votes=driver.find_elements("xpath","//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [186]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,101,102"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,191,494"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,630"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,362"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,482"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,395"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,030"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"200,088"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,727"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,178"

# Q10.

In [187]:
driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

/var/folders/tj/9f4bs_0n69b_w28_xyk24sfh0000gn/T/ipykernel_1740/1949518271.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome('//Users/raj/Desktop/chromedriver')

In [188]:
# Opening webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [189]:
# Clicking on all datasets links
dataset=driver.find_element("xpath","//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [190]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [192]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements("xpath","//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')
# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_elements("xpath",'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|█████████████████████████████████████████| 622/622 [01:57<00:00,  5.29it/s]

In [193]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(1244, 1244, 1244, 1244, 1244, 622)

In [195]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute})
                #'Year':Year })
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279
...,...,...,...,...,...,...
1239,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525
1240,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50
1241,Maternal Health Risk Data Set,,Classification,,1014,7
1242,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16
1243,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2